* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  color: black;
  background-color: white;
}

main {
  padding: 1rem;
}

h1 {
  font-weight: bold;
  font-size: 1.5rem;
}

footer {
    background-color: #aaa;
    padding: 12px;
    width: 100%;
    margin-top: 50px;
}

.row:not(:first-child){
  margin-top:30px;
}